textarea
{
     width:500px;
    padding: 50px;
   
}

.word_spacing{
	word-spacing: 5px;

}

.left {

	width: 50%;
	align-content:left; 
    
}
.right {

	width: 50%;
	align-content:right; 
}


.div-left {
	width : 40% ;
	float : left;
}


.div-right{
	width : 40% ;
	float :right;
}

.center
{
	text-align: center;
}
.fit{
max-height: 72;
}