
/*index style begin*/

		/*header, slider, navbar css  begin*/

				#header-div{
					border-radius: 0px;
				}
				span#contact{
					float: right;
					position: relative;
				    font-size: x-large;
				    margin-right: 50px;
				    overflow: hidden;
				    padding-top: 20px;
				}
				span#email{
					float: right;
					position: relative;
				    font-size: x-large;
				    margin-right: -184px;
				    padding-top: 60px;
				    overflow: hidden;
				}
				#ctitle{
					font-size: xx-large !important;
				}
				.main-container-div{
					
				    font-family: sans-serif;
				}

				li{
					font-weight: 600;
					color: shnowwhite;
				}
				.al-center{
					padding-left: 10% !important;
				}
				body{
					margin: 0;
					overflow-y: auto;	
					overflow-x: hidden;
					-webkit-overflow-scrolling:touch;
				}
				#fixed{
					z-index: 9999; 
					position: fixed;
					left: 0; 
					top: 0; 
					width: 100%;
					border-radius: 0px;
				}
				}
				nav li a {
					color: #757575;
					text-transform: uppercase;
					font-family: 'Crimson Text', serif;
				}
				.nav-placeholder{
					margin: 0 0 40px 0;
				}
				.page-header img {
				  float: center;
				  width: 125px;
				  height: 125px;
				  margin-left: 225px;
				  background: #e4e4e4;
				}
				#page-header{
					text-align: center;
					background-color: #e4e4e4;
					padding-top: 1%;
				}
				.head-div{
					margin-top: -2%;
				}
				.carousel-inner img{
					width: 100%;
					height: 500px;
				}
				.img-container{
					margin-top: -2%;
				}
				.carousel-In-Container{
					/*height: 500px;*/
				}
				}
				div{
					margin-left: auto;
					margin-right: auto;
				}
				/*Notification*/
				a#visit {
					  width: 50px;
					  z-index: 10000;
					  display: block;
					  position: fixed;
					  right: 0px;
					  top: 60px;
					  height: 60px;
					  color: #fff;
					  font-size: 1.5em;
					  text-transform: uppercase;
					  font-style: normal;
					  line-height: 70px;
					  text-indent: -180px;
					  background: rgba(51, 122, 183, 0.82);
					  overflow: hidden;
					  border-top-left-radius: 50px;
					  border-bottom-left-radius: 50px;
					  transition: all;
					  transition-duration: 0.3s;
				}

				a#visit i {
				  position: absolute;
				  top: 10px;
				  left: 10px;
				  z-index: 1;
				  padding-left: 30px;
				}

				a#visit:hover{
				  right: 0px;
				  width: 250px;
				  height: 250px;
				  padding-left: 82px;
				  padding-right: 10px;
				  text-indent: 0px;
				}
				a span{
					float: left;
				    margin-left: -50px;
				    margin-top: -30px;
				}
				.fa-col{
					color: #404041;
				}

				strong#contact {
					margin-left: -30px;
				    float: left;
				    overflow: hidden;
				}
				strong#contact i{
					position: absolute !important;
				    top: 95px !important;
				    left: -4px !important;
				    z-index: -1 !important;
				    padding-left: 29px !important;
				}
				strong#email{
					font-weight: 500;
				    margin-left: -37px;
				    overflow: hidden;
				}
				strong#email i{
					position: absolute !important;
				    top: 164px !important;
				    left: -4px !important;
				    z-index: -1 !important;
				    padding-left: 29px !important;
				}

				.page-header img:hover,
				.page-header img:active {
					border-color: cornflowerblue !important;
					border: solid 2px;
					border-radius: 6px;
				    border-bottom-left-radius: 0px;
				    border-top-right-radius: 0px;
				}
				.card {
				    /* Add shadows to create the "card" effect */
				    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.70);
				    transition: 0.3s;
				}
				/* On mouse-over, add a deeper shadow */
				.card:hover {
				    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.70);
				}

				/*responsive*/
				@media only screen and (max-width: 500px) {
				    span#contact,
				    span#email{
				    	display: none;
				    }
				    .page-header img{
				    margin-left: 0px;
				    width: 75px;
				  	height: 75px;
				    }
				    #ctitle{
					font-size: 15px !important;
					}
					#header-div{
						z-index: 9999;
					}
				}
		/*header, slider, navbar css  end*/

		/*feedback begin*/

				.feedback-div{
				background-color: #929294;
			    border:solid 5px white;
			    word-spacing: 1px;
			    font-size: 20px;
			    }

		/*feedback end*/


		/*product description and fotter begin*/


						.heading-div{
					padding-top: 2px;
				    padding-bottom: 2px;
				}

				.btn-social {
				    border:solid;
				    width: 200px;
				    position: relative;
				    opacity: 1;
				    transition: 0.3s ease;
				    cursor: pointer;
				}
				.btn-social:hover {
				    transform: scale(1.5, 1.5);
				    opacity: 2;
				}

				/*.button:hover {background-color: #3e8e41}*/

				.button:active {
				  /*background-color: #3e8e41;*/
				  transform: translateY(4px);
				}

				.hovereffect {
				width:100%;
				height:100%;
				float:left;
				overflow:hidden;
				position:relative;
				text-align:center;
				cursor:default;
				}

				.hovereffect .overlay {
				width:100%;
				height:100%;
				position:absolute;
				overflow:hidden;
				top:0;
				left:0;
				opacity:0;
				background-color:rgba(0,0,0,0.5);
				-webkit-transition:all .4s ease-in-out;
				transition:all .4s ease-in-out
				}

				.hovereffect img {
				display:block;
				position:relative;
				-webkit-transition:all .4s linear;
				transition:all .4s linear;
				}

				.hovereffect h2 {
				text-transform:uppercase;
				color:#fff;
				text-align:center;
				position:relative;
				font-size:17px;
				background:rgba(0,0,0,0.6);
				-webkit-transform:translatey(-100px);
				-ms-transform:translatey(-100px);
				transform:translatey(-100px);
				-webkit-transition:all .2s ease-in-out;
				transition:all .2s ease-in-out;
				padding:10px;
				}

				.hovereffect a.info {
				text-decoration:none;
				display:inline-block;
				text-transform:uppercase;
				color:#fff;
				border:1px solid #fff;
				background-color:transparent;
				opacity:0;
				filter:alpha(opacity=0);
				-webkit-transition:all .2s ease-in-out;
				transition:all .2s ease-in-out;
				margin:50px 0 0;
				padding:7px 14px;
				}

				.hovereffect a.info:hover {
				box-shadow:0 0 5px #fff;
				}

				.hovereffect:hover img {
				-ms-transform:scale(1.2);
				-webkit-transform:scale(1.2);
				transform:scale(1.2);
				}

				.hovereffect:hover .overlay {
				opacity:1;
				filter:alpha(opacity=100);
				}

				.hovereffect:hover h2,.hovereffect:hover a.info {
				opacity:1;
				filter:alpha(opacity=100);
				-ms-transform:translatey(0);
				-webkit-transform:translatey(0);
				transform:translatey(0);
				}

				.hovereffect:hover a.info {
				-webkit-transition-delay:.2s;
				transition-delay:.2s;
				}

				.footerbutton{

				    border-radius: 20px;
				    background-color: white;
				    color: white;
				    text-align: right;
				    border: solid 0.1px;
				    padding: 5px 15px;
				    border-color: #b30707;
				}



				.fotter_div{

				    width: 100%;height: 250px;background-color:#474a47;
				}

				.fotter_div1{

				    width: 100%;height: 70px;background-color:black;text-align: center;color: white;padding: 1px;
				}

				.description_div{

				    background-color: #774949;;padding-top: 10px;color: white;
				}

				.innerdescription_div{
				    font-size: 21px;padding: 20px;padding-top: 47px;
				}

				/*product description and fotter end*/

				/*media query for index page begin*/


				/* Smartphones (portrait and landscape) ----------- */
				@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

					.fotter_div{

				    width: 100%;height: 572px;background-color:#474a47;
				}

				.fotter_div1{

				    width: 100%;height: 100px;background-color:black;text-align: center;color: white;padding: 1px;
				}

				/*media query for index page end*/





